<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escalação - Ceará SC</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styleescalacao.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="page-wrapper">
            <aside class="sidebar">
                <ul>
                    <li><a href="{{url_for('index')}}">Página Inicial</a></li>
                    <li><a href="{{url_for('buscar')}}">Histórico</a></li>
                    <li><a href="{{url_for('proximos_jogos')}}">Próximos Jogos</a></li>
                    <li><a href="{{url_for('escalacao_ceara')}}">Escalação</a></li>
                </ul>
            </aside>

        <div class="jogadores">
            <h3 class="header-elenco">Elenco</h3>
            <div class="elenco">
                <h2 class="posicoes">Goleiros</h2>
                <img src="{{url_for('static', filename='goleiroBrunoF.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroFernandoM.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroKeiller.webp.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroRichard.webp.webp')}}", width=150px>
            </div>
        </div>
        </div>
    </div>
</body>
</html>