<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escalação - Ceará SC</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='pngceara.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styleescalacao.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="page-wrapper">
            <aside class="sidebar">
                <ul>
                    <li><a href="{{url_for('index')}}">Página Inicial</a></li>
                    <li><a href="{{url_for('buscar')}}">Histórico</a></li>
                    <li><a href="{{url_for('proximos_jogos')}}">Próximos Jogos</a></li>
                    <li><a href="{{url_for('escalacao_ceara')}}">Escalação</a></li>
                </ul>
            </aside>

        <div class="jogadores">
            <h3 class="header-elenco">Elenco</h3>
            <div class="elenco">
                <h2 class="posicoes">Goleiros</h2>
                <img src="{{url_for('static', filename='goleiroBrunoF.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroFernandoM.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroKeiller.webp')}}", width=150px>
                <img src="{{url_for('static', filename='goleiroRichard.webp')}}", width=150px>
                <hr>
                <h2 class="posicoes">Zagueiros</h2>
                <img src="{{url_for('static', filename='zageder.webp')}}", width=150px>
                <img src="{{url_for('static', filename='zagLotavio.webp')}}", width=150px>
                <img src="{{url_for('static', filename='zagmarcos.webp')}}", width=150px>
                <img src="{{url_for('static', filename='zagmarllon.webp')}}", width=150px>
                <img src="{{url_for('static', filename='zagwmachado.webp')}}", width=150px>
                <hr>
                <h2 class="posicoes">Laterais</h2>
                <img src="{{url_for('static', filename='latbahia.webp')}}", width=150px>
                <img src="{{url_for('static', filename='latdieguinho.webp')}}", width=150px>
                <img src="{{url_for('static', filename='latfabiano.webp')}}", width=150px>
                <img src="{{url_for('static', filename='latnicolas.webp')}}", width=150px>
                <img src="{{url_for('static', filename='latramos.webp')}}", width=150px>
                <hr>
                <h2 class="posicoes">Meio-Campistas</h2>
                <img src="{{url_for('static', filename='mclucas.webp')}}", width=150px>
                <img src="{{url_for('static', filename='mclourenco.webp')}}", width=150px>
                <img src="{{url_for('static', filename='mcmugni.webp')}}", width=150px>
                <img src="{{url_for('static', filename='mcrichardson.webp')}}", width=150px>
                <img src="{{url_for('static', filename='mcsobral.webp')}}", width=150px>
                <img src="{{url_for('static', filename='mcvina.png')}}", width=150px>
                <img src="{{url_for('static', filename='mczanocelo.webp')}}", width=180px>
                <hr>
                <h2 class="posicoes">Atacantes</h2>
                <img src="{{url_for('static', filename='atabaya.webp')}}", width=150px>
                <img src="{{url_for('static', filename='atafernandinho.webp')}}", width=150px>
                <img src="{{url_for('static', filename='atagaleano.webp')}}", width=150px>
                <img src="{{url_for('static', filename='ataguilherme.webp')}}", width=150px>
                <img src="{{url_for('static', filename='atalucas.webp')}}", width=150px>
                <img src="{{url_for('static', filename='atapedror.webp')}}", width=150px>
                <img src="{{url_for('static', filename='atarodriguinho.webp')}}", width=180px>
                <hr>
            </div>
        </div>
        </div>
    </div>
</body>
</html>