<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceará Track</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='pngceara.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styleindex.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Lado esquerdo - Botões -->
        <div class="label">
            <h2>Acompanhe o Ceará SC</h2>
            <p class="subtitle">Histórico completo, próximos jogos e estatísticas detalhadas da temporada</p>

            <form action="/buscar" method="get">
                <button type="submit" id="history-bnt">Histórico Temporada</button>
            </form>

            <form action="/proximosjogos" method="get">
                <button type="submit" id="schedule-bnt">Próximos Jogos</button>
            </form>

            <form action="/escalacao" method="get">
                <button type="submit" id="escalacao-bnt">Escalação</button>
            </form>
        </div>

        <div class="center-content">
            <h3 class="header-centercontent">Últimas Notícias</h3>
            <div class="info-time">
                <a href="https://meuvozao.com/noticias-do-ceara/vazou-vina-ceara/" target="_blank">
                    Vazou nos bastidores: Vina tem atualização confirmada sobre futuro no Ceará
                </a>
            </div>
            <div class="info-time">
                <a href="https://ge.globo.com/ce/futebol/times/ceara/noticia/2025/12/11/leo-conde-se-despede-do-ceara-e-da-torcida-alvinegra-nas-redes-sociais.ghtml" target="_blank">
                    Léo Condé se despede do Ceará e da torcida alvinegra nas redes sociais
                </a>
            </div>
        </div>

        
        <div class="card-right">
            <img src="{{url_for('static', filename='pngceara.png')}}" alt="Logo Ceará SC">
        </div>
    </div>
</body>
<!-- <footer>
    <a href="https://cearasc.com/home/" target="_blank">Site Oficial</a>
    <img class="icon-vozao" src="{{url_for('static', filename='vozaoimage.png')}}" width="100px">
</footer> -->
</html>